.wwFormTable {
}

.label {
    font-style: italic;
    float: left;
    width: 30%
}

.errorLabel {
    font-style: italic;
    color: red;
}

.errorMessage {
    color: red;
    list-style: none;
}

.infoMessage {
    color: blue;
    list-style: none;
}

.checkboxLabel {
}

.checkboxErrorLabel {
    color: red;
}

.required {
    color: red;
}

.tdTransferSelect {
    text-align: center;
    vertical-align: middle;
}

.tdLabelTop {
    text-align: left;
    vertical-align: top;
}

.tdCheckboxLabel {
    text-align: right;
    vertical-align: top;
}

.tdCheckboxInput {
    text-align: left;
    vertical-align: top;
}

.tdCheckboxErrorMessage {
    text-align: left;
    vertical-align: top;
}

.tdErrorMessage {
    text-align: center;
    vertical-align: top;
}

.formButton {
    text-align: right;
}

@media (min-width: 320px) and (max-width: 414px) {
    .card.w-50 {
        width: 97% !important;
    }

    .card.w-75 {
        width: 97% !important;
    }
}

@media (min-width: 141px) and (max-width: 812px) {
    .card.w-50 {
        width: 80% !important;
    }

    .card.w-75 {
        width: 80% !important;
    }
}

@media (min-width: 812px) and (max-width: 1024px) {
    .card.w-50 {
        width: 70% !important;
    }

    .card.w-75 {
        width: 75% !important;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .card.w-50 {
        width: 60% !important;
    }

    .card.w-75 {
        width: 75% !important;
    }
}

@media (min-width: 1200px) {
    .card.w-50 {
        width: 50% !important;
    }

    .card.w-75 {
        width: 75% !important;
    }
}

.logo {
    max-width: 10px;
}
